@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NovidadeType>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "MasterTemplate.cshtml";
    string twitter = "https://twitter.com/intent/tweet?text=" + HttpUtility.UrlEncode(Model.Content.Name) + "&url=" + HttpUtility.UrlEncode(Model.Content.UrlWithDomain());
    string facebook = "http://www.facebook.com/sharer.php?u=" + HttpUtility.UrlEncode(Model.Content.UrlWithDomain());
}
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="jumbotron" data-stellar-background-ratio="0.7" style="background-attachment: fixed; background-image: url(@Model.Content.ImagemPrincipal.Url); ">
    <div class="container">
        <h1>@Umbraco.Field("titulo")</h1>
        <p>@Model.Content.CreateDate.ToLongDateString() por @Model.Content.CreatorName</p>
        <p class="mycms-post-meta">
            @Model.Content.Categoria

            @foreach (var tag in Model.Content.Tags)
            {
                <span class="label label-default">@tag</span>
            }
        </p>
    </div>
</div>

<div class="container">
    <div class="mycms-post" style="padding-bottom: 60px">
        @Model.Content.Conteudo

        <div class="mycms-social-buttons">
            <a class="fab fa-facebook-square" rel="nofollow" target="_blank" href="@facebook"></a>
            <a class="fab fa-twitter-square" rel="nofollow" target="_blank" href="@twitter"></a>
        </div>
    </div><!-- /.blog-post -->

    <div class="fb-comments" data-width="100%"></div>
            

            
</div>

