@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProdutosType>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "MasterTemplate.cshtml";
}
@* the fun starts here *@
<div class="jumbotron" data-stellar-background-ratio="0.7" style="background-attachment: fixed; background-image: url(@Model.Content.ImagemPrincipal.Url); ">
    <div class="container">
        <h1>@Umbraco.Field("titulo")</h1>
        <p>@Umbraco.Field("descricao")</p>
    </div>
</div>

<div class="container">

    @{
        var selection = Model.Content.Site().FirstChild("produtosType").Children("produtoType")
                            .Where(x => x.IsVisible());
    }

    <div class="row mycms-produtos">
        @foreach (Umbraco.Web.PublishedContentModels.ProdutoType item in selection)
        {
            <div class="col-md-4 mycms-produto">
                <h2 class="mycms-titulo">@item.Nome</h2>
                <p>@item.Descricao</p>
                <p class="mycms-link"><a class="glyphicon glyphicon-plus-sign" href="@item.Url" ></a></p>
            </div>
        }
    </div>
</div>
